name: Check pull request source branch
on:
  pull_request:
    branches: ["main"]
jobs:
  check-branches:
    name: Check branches
    runs-on: ubuntu-latest
    steps:
    - name: Check branches
      run: |
        if [ ${{ github.head_ref }} != "dev" ] && [ ${{ github.base_ref }} == "main" ]; then
          echo "Merge requests to main branch are only allowed from dev branch."
          exit 1
        fi